<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToltoonTTS2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="TwitchIndividualVoicesDataBase" connectionString="Data Source=TwitchIndividualVoces.db" providerName="Microsoft.Data.Sqlite" />
  </connectionStrings>
  <userSettings>
        <ToltoonTTS2.Properties.Settings>
              <setting name="TwitchApi" serializeAs="String">
                    <value />
              </setting>
              <setting name="TwitchID" serializeAs="String">
                    <value />
              </setting>
              <setting name="TwitchNickname" serializeAs="String">
                    <value />
              </setting>
              <setting name="RemoveEmoji" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="InstalledVoiceSelect" serializeAs="String">
                    <value />
              </setting>
              <setting name="TtsVolumeValue" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="TtsSpeedValue" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="ConnectToTwitch" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="TextBoxDoNotTtsIfStartWith" serializeAs="String">
                    <value />
              </setting>
              <setting name="TextBoxMessageSkip" serializeAs="String">
                    <value />
              </setting>
              <setting name="TextBoxMessageSkipAll" serializeAs="String">
                    <value />
              </setting>
              <setting name="GoodgameNickname" serializeAs="String">
                    <value />
              </setting>
              <setting name="ConnectToGoodgame" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="IndividualVoicesEnabled" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="DynamicSpeed" serializeAs="String">
                    <value />
              </setting>
              <setting name="StreamerChecked" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="ModeratorChecked" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="VipChecked" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="AllChecked" serializeAs="String">
                    <value>False</value>
              </setting>
        </ToltoonTTS2.Properties.Settings>
    </userSettings>
</configuration>