<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToltoonTTS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToltoonTTS.Properties.Settings>
            <setting name="TwitchApi" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchID" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchNickname" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoveEmoji" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstalledVoiceSelect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TtsVolumeValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TtsSpeedValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IndividualVoices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckboxConnectToTwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextBoxDoNotTtsIfStartWith" serializeAs="String">
                <value />
            </setting>
            <setting name="TextBoxMessageSkip" serializeAs="String">
                <value />
            </setting>
            <setting name="TextBoxMessageSkipAll" serializeAs="String">
                <value />
            </setting>
            <setting name="TextBoxGoodgameLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="TextBoxGoodgamePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckBoxConnectToGoodgame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextBoxIndividualVoicesChannelPoints" serializeAs="String">
                <value />
            </setting>
            <setting name="TextBoxGetUserVoice" serializeAs="String">
                <value />
            </setting>
        </ToltoonTTS.Properties.Settings>
    </userSettings>
</configuration>